@use '../../variables.module.scss' as *;

$experience-card-hover-bg: $secondaryColor;

.experience-card {
  color: black;

  .card {
    display: flex;
    flex-direction: column;
    background-color: $experience-card-bg;
    border-radius: 5px;
    padding: 20px;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: translateY(-5px) scale(1.02);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      background-color: $experience-card-hover-bg;
      color: #dddddd;

      .header {
        border-bottom: 1px solid #fff;
      }

      svg {
        margin-left: auto;
        font-size: 1.7rem;
        animation: pulse 1s infinite alternate ease-in-out;
      }
    }

    .header {
      display: flex;
      width: 100%;
      border-bottom: 1px solid #ddd;

      h1 {
        font-size: 1.2rem;
        padding: 0;
        margin-left: auto;
      }
    }

    svg {
      font-size: 1.5rem;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      align-self: end;
    }

    @keyframes pulse {
      from {
        opacity: 1;
      }
      to {
        opacity: 0.1;
      }
    }
  }
}

