@import "../../global.scss";

.Summary {
  background-color: $summaryPageBG;
  color: $summaryPageText;
  background-position: center;
  background-size: cover;
  position: relative;
  .bg {
    height: 100%;
  }

  .top {
    width: 100%;
  }

  .bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
  }
  .experience,
  .education {
    width: 45%;
    box-sizing: border-box;
  }

  .middle {
    display: flex;
    flex-direction: row;
  }
  .job,
  .degree {
    margin-bottom: 20px;
  }

  .job h3,
  .degree h3 {
    margin: 10px 0;
  }

  .role {
    font-weight: bold;
  }

  ul {
    list-style-type: disc;
    margin-left: 20px;
  }

  .job ul,
  .degree ul {
    padding-left: 20px;
  }

  @media (max-width: 768px) {
    .middle {
      flex-direction: column;
      gap: 20px;
    }

    .experience,
    .education {
      width: 100%;
    }
  }
}
