@use '../../variables.module.scss' as *;

.summary {
  background-color: $mainColor;
  color: whitesmoke;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100vh;
  .top {
    width: 100%;
    .professional-summary {
      color: #f4f4f4;
      text-align: center;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
      width: 100%;
      @media (max-width: 768px) {
        max-width: 90%;
        padding: 1rem;
      }
      h2 {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1.3;
        margin-bottom: 1rem;
        color: #f9f9f9;
      }
      p {
        font-size: 1rem;
        line-height: 1.6;
        color: #d3d3d3;
        margin: 0 auto;
        max-width: 600px;
      }
    }
  }

  .bottom {
    width: 100%;
  }

  .middle {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }
  .job,
  .degree {
    margin-bottom: 20px;
  }

  .job h3,
  .degree h3 {
    margin: 10px 0;
  }

  .role {
    font-weight: bold;
  }

  ul {
    list-style-type: none;
    margin-left: 20px;
  }

  .job ul,
  .degree ul {
    padding-left: 20px;
  }

  @media (max-width: 768px) {
    .middle {
      flex-direction: column;
      gap: 20px;
    }

    .experience,
    .education {
      width: 100%;
    }
  }
}
