$mainColor: #2D3047;
$secondaryColor: #9387c0;
$introPageBG: #00d8b3;
$introPageText: #fff;
$summaryPageBG: #f0f0f0;
$summarySecondaryBG: #F4CBC6;
$summaryPageText: #000;
$experience-card-bg: #fff;

$typedText: #f22525