// Base colors
$mainColor: #2D3047;
$secondaryColor: #9387c0;

// Intro section colors
$introPageBG: #1A0026; // Deep Purple
$introPageText: #00FFFF; // Neon Cyan
$introAccent: #FF00FF; // Neon Pink
$introMenuBG: rgba(26, 0, 38, 0.95); // Deep Purple with transparency
$introMenuText: #00FFFF; // Neon Cyan
$introGlow: #FFF200; // Soft Yellow for glow effects

// Summary section colors
$summaryPageBG: #00a3e0;
$summaryPageText: #ff007f;
$summaryAccent: #ff6f61;
$summaryMenuBG: rgba(0, 163, 224, 0.95);
$summaryMenuText: #ff007f;

// Other colors
$experience-card-bg: #fff;
$typedText: #f22525;